.chords-container {
  margin: 20px auto;
  max-width: 1024px;
}

div.chord-table-container {
  border: 1px solid #ccc;
  border-radius: 20px;
  transition: box-shadow .3s;
  width: 280px;

  .chord-tab {
    font-size: 14px;
  }

  &:hover {
    box-shadow: 0 0 11px rgba(0, 0, 0, .8);
    cursor: pointer;
  }
}

.chord-table {
  margin: 20px auto;
}

.chord-tab {
  font-family: monospace;
  text-align: center;
  width: 100%;
}

.guitar-input {
  border-radius: 4px;
  cursor: pointer;
  font-family: monospace;
  font-size: 18px;
  transition: box-shadow .3s;
  padding: 4px;

  &:hover {
    box-shadow: 0 0 50px rgba(171, 202, 236, 0.5);
  }
}

.chord-instructions {
  margin: 10px auto;
}

.verbal-tab-instructions {
  text-align: left;
}

.welcome {
  margin-bottom: 10px;
}
