.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 990;

  .modal-inner {
    background-color: white;
    border-radius: 10px;
    height: auto;
    margin: 100px auto;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: left;
    width: 600px;
  }

  .modal-header {
    background: #c9d6e7;
    border-bottom: 1px solid #ccc;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    display: block;
    padding: 16px;
    width: 100%;

    .modal-title {
      position: relative;

      h1 {
        font-weight: 500;
        font-size: 24px;
        margin: 0;
        padding: 0;
      }

      button {
        position: absolute;
        top: 0;
        right: -9px;
        border: none;
        background: none;
        color: darken(gray, 25%);
        font-size: 24px;
        cursor: pointer;

        &:hover {
          color: darken(gray, 40%)
        }
      }
    }
  }

  .modal-content {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 16px;
    max-height: 550px;

    table {
      width: 100%;

      td {
        padding: 8px;
      }

      thead {
        font-size: 14px;
        font-weight: bold;
        position: relative !important;
      }

      tbody {
        font-size: 13px;
      }
    }
  }

  .modal-footer {
    background: #c9d6e7;
    border-top: 1px solid gray;
    padding: 16px;
  }
}

.modal.modal-outer {
  background: rgb(0, 0, 0, 0.5);
  z-index: 1010;
}

@media (max-width: 1024px) {
  .modal .modal-inner {
    font-size: 16px;
    width: 75vw;
  }
}

@media (max-width: 768px) {
  .modal .modal-inner {
    font-size: 13px;
    width: 95vw;
  }
}
